@tailwind base;
@tailwind components;
@tailwind utilities;

/*
===========================
Variables and global styles 
=========================== 
*/

@font-face {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: normal;
    src: url("../../public/fonts/Inconsolata.ttf");
}

:root {
    --bg-clr: #f8fafc;
    --font-clr: #0a161f;
    --font-primary: 'Inconsolata';
    --font-secondary: "Inconsolata";
    --type-width: "500px";
}

[data-theme="light"] {
    --bg-clr: #f8fafc;
    --font-clr: #0a161f;
}

[data-theme="dark"] {
    --bg-clr: #0a161f;
    --font-clr: #f8fafc;
}

body {
    background-color: var(--font-clr);
    color: var(--font-clr);
    font-family: var(--font-primary);
}

input[type="checkbox"]:checked + .slider {
    -webkit-transform: translateX(90%);
    -ms-transform: translateX(90%);
    transform: translateX(90%);
}

label {
    border-color: var(--font-clr);
}

::-webkit-scrollbar {
    background-color: var(--bg-clr);
    width: 0.2rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--font-clr);
    width: 0.1rem;
    border-radius: 0.5rem;
}

/*
=============
Custom styles
============= 
*/

.slider {
    position: absolute;
    height: 94%;
    width: 46%;
    border: 2px solid var(--font-clr);
    border-radius: 1rem;
    transition: transform 0.4s linear;
}

.hero-text {
    overflow: hidden;
    white-space: nowrap;
    color: var(--bg-clr);
    border-right: solid 3px var(--bg-clr);
    font-family: var(--font-secondary);
}

.acc-card {
    background-color: var(--bg-clr);
    border-color: var(--bg-clr);
}

.card-show {
    visibility: visible;
}

.card-expand {
    flex-grow: 10;
}

.show-content {
    visibility: visible;
    opacity: 1;
}

.hero-animate {
    animation: typing-animate 4s steps(32, end), caret-animate 600ms steps(32, end) infinite;
}

.card-drop-x {
    animation: card-drop-x 1s linear, bobble-x 0.2s 1s ease-in-out;
}

.card-drop-y {
    animation: card-drop-y 1s linear, bobble-y 0.2s 1s ease-in-out;
}

.card-wiggle:hover {
    animation: wiggle 0.25s ease-in-out infinite;
}

@keyframes typing-animate {
    from { 
        width: 0 
    }
    to { 
        width: var(--type-width); 
    }
}

@keyframes caret-animate {
    form { 
        border-right-color: var(--font-clr); 
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes card-drop-x {
    0% {
        transform: translateX(-120%);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%)
    }
}

@keyframes card-drop-y {
    0% {
        transform:  translateY(-120%);
    }
    50% {
        transform: translateY(-50%);
    }
    
    100% {
        transform: translateY(0%);
    }
}

@keyframes bobble-x {
    0% {
        transform: translateX(0px);
    }
 
    50% {
        transform: translateX(12px);
    }
 
    100% {
        transform: translateX(0px);
    }
}

@keyframes bobble-y {
    0% {
        transform: translateY(0px);
    }
 
    50% {
        transform: translateY(12px);
    }
 
    100% {
        transform: translateY(0px);
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg)
    }

    25% {
        transform: rotate(1deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(0deg)
    }
}